@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.container {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  /* text-align: left; */
}

/* user profile  */
.userSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #f4f6f8;
  color: #f4f6f8;
  margin: 1rem 0 5rem 0;
}

/* profile svg/img/icon */

.icons {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.icon {
  width: 3rem;
  height: 3rem;
  border-radius: 20px;
  background-color: #f4f6f8;
  padding: 5px;
  align-items: center;
}

.icon img {
  width: 100%;
}
.cart {
  background-color: #393c3f;
}

/* main container */

.main {
  background-color: #f4f6f8;
  border-radius: 2.5rem 0 0 2.5rem;
  width: 1400px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

/* main__first--section */

.main-child-one {
  flex: 1;
  padding: 2rem;
}

.main__child-one__header {
  display: flex;
  justify-content: space-between;
}

/* seacth input  */

.input {
  height: 3rem;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
}

input {
  border-radius: 15px;
  width: 17rem;
  border: none;
}

input:focus {
  outline: none;
}

.searchsvg {
  border-radius: 15px;
  padding: 2px;
  margin: 5px;
  background-color: #f4f6f8;
}

.searchsvg img {
  width: 2rem;
}

/* status section  */
.main__child-one__header-status {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.main__child-one__header-status p {
  color: #bbc1c7;
}
.main__child-one__header-status .active {
  position: relative;
  font-weight: 600;
  color: black;
}

/* if active then it has this lil border  */
.active::after {
  content: "";
  height: 3px;
  width: 30%;
  background: black;
  position: absolute;
  margin: auto;
  bottom: -5px;
  left: 0;
  right: 0;
}

/* the progress / proccess chart / bar of the product delivery */

/* main section of proccess bar  */
.main__child-one__progressChart {
  margin-top: 1rem;
}

.progreesContainer {
  background-color: #ffffff;
  border-radius: 3rem;
  max-width: 1000px;
  margin: 0 auto;
}

/* the rows fo the section  */
.tableRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
  padding: 0.5rem 2rem;
  text-transform: capitalize;
  font-weight: 700;
}

/* table heading  */
.tableHead {
  font-weight: 800;
}

/* product info  */
.Product {
  display: flex;
  gap: 0 1rem;
  justify-content: space-between;
}
.productHeading {
  margin-right: 4rem;
}

.Product img {
  width: 5rem;
  border-radius: 10px;
}

/* light heading  */
.light {
  font-weight: 500;
  color: #bfc4d1;
}

/* the step progress bar  */
.line {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 7rem;
}

.line:after {
  content: "";
  height: 3px;
  width: 100%;
  background: #00d930;
  position: absolute;
  margin: auto;
  bottom: 13px;
  left: 0;
}

.circle {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ffffff;
  border: 3px black solid;
  z-index: 3;
  border-radius: 50%;
}

.circlelactive {
  border: 3px #00d930 solid;
  background-color: #00d930;
}

/* main__second--section  / product page  */
.main-child-two {
  background-color: #ffffff;
  width: 400px;
  border-radius: 2.5rem;
  padding: 2rem;
  font-weight: 500;
}

/* header section of product page  */
.main-child-two .head {
  margin-left: 1rem;
  padding-right: 1rem;
}

/* the close button of product page  */
.main-child-two .btn {
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border: none;
  background-color: #f4f6f8;
  color: #fe0b0b;
  font-weight: 700;
  font-size: 1rem;
}

/* detail info about product  */
.main-child-two .information {
  background-color: #f4f6f8;
  display: flex;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

.productImg img {
  width: 180px;
}

.info-product li span {
  color: #bbc1c7;
  font-size: 0.8rem;
}
